KEYCLOAK_ADMIN=example_admin
KEYCLOAK_ADMIN_PASSWORD=example_password

KC_DB_DATABASE=keycloak
KC_DB_USER=example_user
KC_DB_PASSWORD=example_password

MARIADB_ROOT_PASSWORD=example_root_password

KC_HOSTNAME=keycloak.example.com
