WORDPRESS_DB_NAME=example_db
WORDPRESS_DB_USER=example_user
WORDPRESS_DB_PASSWORD=example_password

MARIADB_ROOT_PASSWORD=example_root_password

WP_HOSTNAME=wordpress.example.com
PMA_HOSTNAME=phpmyadmin.example.com
